html,
body {
  margin: 0;
  padding: 0;
  background-color: #151019;
  z-index: -1;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.Main
{
    text-align: center;
	margin: auto;
    width: 80%;
    height: auto;
    background-color: #0A080C;
    border-radius: 10px;
    z-index: 0;
}

.Main p
{
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
}

.Main h1
{
    color: white;
}

.Main img
{
    border-radius: 10px;
    width: auto;
    height: auto;
}

.TermProjets
{
    text-align: center;
	margin: auto;
    width: 80%;
    height: auto;
    background-color: #0A080C;
    border-radius: 10px;
    z-index: 0;
}

.TermProjets p
{
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
}

.TermProjets h1
{
    color: white;
}

.TermProjets a
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
