@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Quicksand:wght@300&family=Staatliches&display=swap');
html,
body {
  margin: 0;
  padding: 0;
}

body
{
  background-color: #151019;	
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.Main
{
    text-align: center;
	margin: auto;
    width: 80%;
    height: auto;
    background-color: #0A080C;
    border-radius: 10px;
}

.Main p
{
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
	font-family:Quicksand;
}

.Main h1
{
    color: white;
	font-family: Oswald;
}

.Main img
{
    border-radius: 10px;
    width: 50%;
    height: auto;
}

.TermProjets
{
    text-align: center;
	margin: auto;
    width: 80%;
    height: auto;
    background-color: #0A080C;
    border-radius: 10px;
}

.TermProjets p
{
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
}

.TermProjets h1
{
    color: white;
	font-family: Oswald;
}

.TermProjets a
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family: Staatliches;
}
