html,
body {
  margin: 0;
  padding: 0;
  background-color: #151019;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.Main
{
    text-align: center;
	margin: auto;
    width: 80%;
    background-color: #0A080C;
    border-radius: 10px;
}

.Main p
{
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
}

.Main h1
{
    color: white;
}

.Main img
{
    border-radius: 10px;
    width: auto;
    height: auto;
}

.button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.card a
{
    text-decoration: none;
}
.card {
    display: flex;
    margin: auto;
    width:25em;
    height:20em;
    background-color: #0A080C;
    transition:0.5s width ease;
    overflow:hidden;
    border-radius:1em
}

  .card h1 {
    color: #4CAF50;
    margin: auto;
    margin-left: 165px;
  
  }
  
  .card img {
    height:100%;
    width:auto;
  }
  
  .card:hover p {
    opacity: 1;
  }
  .card:hover {
      width: 50em;
  }
  .card p {
    opacity: 0;
    font-family: Trench;
    font-size: 25;
    color: white;
  }
  span {
      color: #4CAF50;
      font-family: Trench
  }